@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'josefin sans', sans-serif;
    background-color: hsl(0, 100%, 98%);
    margin: 20px; 
    width: 100svw; 
    // height: 100svh; 
}

.logo { 
    margin: 30px 200px 30px 30px; 
    width: 35%; 
    order: -1;
}

.title {
    text-transform: uppercase;
    font-weight: 200;
    color: hsl(0, 36%, 70%);
    letter-spacing: 0.2em;
    margin: 30px 40px 20px 40px;
    font-size: 2.5em;
    line-height: 120%;

    strong { 
        color: black;
    }
}

.subheading { 
    color: hsl(0, 36%, 70%); 
    font-weight: 400; 
    font-size: 0.9em;
    line-height: 150%;
    margin: 10px; 
}

.desktop-section { 
    display: contents; 
}

form { 
    margin: 30px 0;
    min-width: 100%; 
    // padding-bottom: 40px; 
    text-align: left;
}

.container { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: relative; 
    left: 20px; 
}

input { 
    font: inherit;
    all: unset; 
}

input[type="email"] { 
    border: solid 1px hsl(0, 36%, 70%, 50%);
    border-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px; 
    background-color: hsl(0, 100%, 98%);
    width: 80%; 
    cursor: text;
    text-align: left;
    color: hsl(0, 36%, 70%);
}

input[type="email"]::placeholder { 
    font-size: 0.7em;
    opacity: 50%;
    font-weight: 600;
    color: inherit; 
}

input.error {
    border: solid 2px hsl(0, 93%, 68%);
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 5%; 
    background-position: right 50px center;
}

.submit { 
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    min-width: 60px;
    min-height: 40px;
    border-radius: 20px; 
    border: none;
    position: relative; 
    right: 40px; 
    cursor: pointer;
}

.submit:active { 
    opacity: 70%; // work on this 
}

span.error { 
    display: none;
    color: hsl(0, 93%, 68%); 
    font-family: inherit; 
    font-size: 0.7em; 
    margin: 10px; 
    margin-left: 30px; 
}

span.error.visible { 
    display: inline-block;
}

footer { 
    margin: 20px; 
    color: hsl(0, 36%, 70%);
}

@media screen and (min-width: 768px) { 

    body { 
        text-align: left;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100svh; 
        margin-top: 0; 
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    section { 
        order: -1; 
        margin-right: 20px; 
    }

    .desktop-section { 
        display: block; 
    }

    .logo { 
        width: 20%;  
    }

    .title { 
        font-weight: 300; 
        margin: 40px 20px 0 30px; 
        font-size: 2.2em;
    }

    .subheading { 
        margin: 40px 70px 0 30px; 
        font-size: 0.7em;
        line-height: 160%;
    }

    footer { 
        position: fixed; 
        bottom: 350px; 
        display: none; 

    }
}

@media screen and (min-width: 1024px) { 

    .logo { 
        margin-top: 50px; 
        margin-left: 50px; 
    }

    section { 
        min-width: 300px; 
    }

    .title { 
        margin-left: 50px; 
        margin-top: 70px; 
        width: 200px; 
        font-size: 3em;
    }

    .subheading { 
        margin: 40px 70px 0 50px; 
        font-size: 0.9em;
        width: 400px; 
    }

    form { 
        margin-left: 20px; 
        margin-top: 30px; 
    }


    footer { 
        bottom: 20px;
    }
}

@media screen and (min-width: 1150px) { 

    body { 
        justify-content: space-around;
    }

    .desktop-section { 
        margin-left: 50px; 
    }

}

@media screen and (min-width: 1440px) { 

    title { 
        margin-top: 80px; 
    }
}